*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
body{
    min-height: 100vh;
    background-color: rgb(0, 0, 0);

}
p{
    font-size: 52px;
}
img{
    height: 100px;
    
    
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);

}
a:hover{
    color: black;
}
li{
    list-style: none;
}

h1,h2{
    color: #ffffff;

}
.sidemenu{
    position: fixed;
    background: rgb(0, 0, 0);
    width: 22vw;
    min-height: 97vh;
   display: flex;
   flex-direction: column;
   margin: 10px;
   /* box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.5); */
   border-radius: 20px;
   
}
.sidemenu .Product { 
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.sidemenu{
    font-size: 35px;
    padding: 10px 40px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}
ul{
    box-shadow: black;
}
.sidemenu li:hover{
    background: #ffffff;
    color: rgb(0, 0, 0);
    width: 460px;
    height: 60px;
    border-radius: 20px;
}
.calender{
    position: fixed;
    background: #ff6e6e;
    width: 23vw;
    min-height: 45vh;
   display: flex;
   flex-direction: column;
   margin: 22px;
   margin-left: 1400px;
   box-shadow: 10px 10px 10px #000000;
   border-radius: 20px;
    
}
.red{
    height: 95%;
    width: 100%;
    border-radius: 20px;
    
}
.pro{
    position: fixed;
    background: #63BFBF;
    width: 23vw;
    min-height: 45vh;
   display: flex;
   flex-direction: column;
   margin: 10px;
   margin-left: 1400px;
   margin-top: 500px;
   box-shadow: 10px 10px 10px #000000;
   border-radius: 20px;
   font-size: 30px;
   color: rgb(255, 255, 255);
    
}
.call{
    height: 40px;
    width: 40px;
}
hr{
    border: 0.5px solid rgb(190, 190, 190);
    border-style: inset;
 
}
.center{
    position: fixed;
    background: #ffffff;
    width: 76vw;
    min-height: 100vh;
   display: flex;
   flex-direction: column;
   /* margin: 20px; */
   margin-left: 440px;
   margin-top: 0px;
   box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.5);
   border-radius: 30px;
   font-size: 30px;
   color: rgb(0, 0, 0);

}
.greetings{
    position: fixed;
    background: rgba(255, 255, 255, 0.897);
    width: 42vw;
    height: 90vh;
    margin-left: 90px;
   margin-top: 10px;
   border-radius: 15px;
}
input{
    height: 60px;
     width: 310px;
     border-radius: 24px;
     margin-left: 450px;
   margin-top: 10px;
   font-size: 20px;
     
    
}
.greetings img{
    border-radius: 60px;
    border: 1px solid #000000;
}
.greetings table{
    align-content: center;
    /* justify-content: center;
    display: flex; */
    /* padding: 10px; */
   /* border-bottom: 1px #63BFBF; */
    margin-top: -80px;
    text-align: center;
    /* margin-bottom: 40px; */
    width: 100%;
    border-collapse: collapse;
    border: none;


}
.greetings table td{
    align-items: center;
     /* justify-content: center; */
     /* display: flex; */
     /* border-spacing: 10%; */
     /* text-align: center; */
     padding: 4px;
    font-size: 22px;


} 
::placeholder{
    font-size: 20px;
    text-align: center;

}
.greetings table tr:hover{
    background-color: #63BFBF;
    border-radius: 40px;
    border: 1px solid #000000;}

.pic{
    border-radius: 60px;
    border: 3px solid #000000;
}
.name{
    color: black;
}
.name:hover{
    color: white;
}





